{% extends "editor/base.html" %}
{% load static %}
{% block script %}
    {{ block.super }}
    <script type="importmap">
    {
        "imports": {
            "three": "{% static 'js/three.module.js' %}",
            "three/addons/": "{% static 'js/three/examples/jsm/' %}",
            "objects": "{% static 'js/objects.mjs' %}"
        }
    }
    </script>
    <script type="module">
    import { LoginBackground } from "{% static 'js/login.mjs' %}";

    window.addEventListener('DOMContentLoaded', (_) => {
        new LoginBackground();
    });
    </script>
{% endblock script %}
{% block style %}
    {{ block.super }}
    <link href="{% static 'css/login.css' %}" rel="stylesheet" type="text/css" />
{% endblock style %}
{% block body %}
    <div class="d-flex flex-row">
        <!--Login page-->
        <div class="min-vh-100 d-inline-flex flex-column justify-content-center align-items-center p-5 gap-2 flex-shrink-0"
             style="min-width: 20%">
            <h1 class="headline text-center mb-4">
                Welcome to
                <br>
                Canvas!
            </h1>
            <div class="d-flex flex-column gap-1">
                <div class="d-flex gap-2 flex-column">
                    <a class="rounded-5 border border-1 border-body-secondary text-decoration-none text-reset d-flex justify-content-center align-items-center gap-2 p-2 px-3 bg-body"
                       href="">
                        <i class="bi bi-google"></i>
                        <p class="m-0">Continue with Google</p>
                    </a>
                    <a class="rounded-5 border border-1 border-body-secondary text-decoration-none text-reset d-flex justify-content-center align-items-center gap-2 p-2 px-3 bg-body"
                       href="">
                        <i class="bi bi-github"></i>
                        <p class="m-0">Continue with Github</p>
                    </a>
                </div>
                <hr>
                <form class="d-flex flex-column" action="projects">
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control rounded-4" id="floatingInput">
                        <label for="floatingInput">Email address</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" class="form-control rounded-4" id="floatingPassword">
                        <label for="floatingPassword">Password</label>
                    </div>
                    <button type="submit" class="btn btn-primary rounded-5 fw-bold">Login</button>
                </form>
            </div>
            <div class="d-flex justify-content-center mt-2">
                <p>
                    You have no account? <a href="/register">Sign up</a>
                </p>
            </div>
        </div>
        <!--Canvas for rendering a 3D scene-->
        <div id="loginBg" class="w-100 rounded-start-5 overflow-hidden"></div>
    </div>
{% endblock body %}
