<div class="modal fade"
     id="settings"
     tabindex="-1"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content rounded-4">
            <div class="modal-header">
                <h5 class="modal-title">Settings</h5>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body gap-2 d-flex flex-column">
                <div class="d-flex align-items-start">
                    <div class="nav flex-column nav-pills me-3"
                         id="v-pills-tab"
                         role="tablist"
                         aria-orientation="vertical">
                        <button class="nav-link active"
                                id="v-pills-general-tab"
                                data-bs-toggle="pill"
                                data-bs-target="#v-pills-general"
                                type="button"
                                role="tab"
                                aria-controls="v-pills-profile"
                                aria-selected="false">
                            <div class="d-flex gap-2">
                                <i class="bi bi-gear"></i>
                                <p class="m-0">General</p>
                            </div>
                        </button>
                        <button class="nav-link"
                                id="v-pills-appearance-tab"
                                data-bs-toggle="pill"
                                data-bs-target="#v-pills-appearance"
                                type="button"
                                role="tab"
                                aria-controls="v-pills-home"
                                aria-selected="true">
                            <div class="d-flex gap-2">
                                <i class="bi bi-palette"></i>
                                <p class="m-0">Appearance</p>
                            </div>
                        </button>
                    </div>
                    <div class="tab-content" id="v-pills-tabContent">
                        <div class="tab-pane fade show active"
                             id="v-pills-general"
                             role="tabpanel"
                             aria-labelledby="v-pills-general-tab"
                             tabindex="0">general</div>
                        <div class="tab-pane fade"
                             id="v-pills-appearance"
                             role="tabpanel"
                             aria-labelledby="v-pills-appearance-tab"
                             tabindex="0">
                            <button class="btn btn-sec" id="mode-toggle">mode</button>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-end w-100">
                    <button class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>
