#sidebar {
    width: 350px;
}

#canvas{
    width: calc(100% - 350px);
}

.key {
    padding: 10px 10px 3px 6px;
    font-size: 80%;
    border: 1px solid black;
    border-radius: 0.375rem;
}

.about-logo {
    height: 50px;
}
