{% extends 'editor/base.html' %}
{% load static %}

{% block style %}
    {{ block.super }}
    <link href="{% static 'css/editor.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block script %}
    {{ block.super }}
    <script type="importmap">
        {
            "imports": {
                "three": "{% static 'js/three.module.js' %}",
                "three/addons/": "{% static 'js/three/examples/jsm/' %}",
                "menu": "{% static 'js/menu.mjs' %}",
                "compass": "{% static 'js/compass.mjs' %}"
            }
        }
    </script>
    <script type="module">
        import { Editor } from "{% static 'js/editor.mjs' %}";

        window.addEventListener('DOMContentLoaded', (_) => {
            new Editor();
        });
    </script>
{% endblock %}

{% block body %}
    <!-- keybindings modal -->
    <div class="modal modal-lg fade" id="keyboardModal" tabindex="-1" aria-labelledby="keyboardModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="keyboardModalLabel">Keybindings</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row align-items-center pb-3">
                        <div class="col-2">
                            <span class="key">Esc</span>
                        </div>
                        <div class="col-10 fw-medium">
                            Close dialogs
                        </div>
                    </div>
                    <div class="row align-items-center pb-3">
                        <div class="col-2">
                            <span class="key">Ctrl</span>
                            <span class="mx-1"> + </span>
                            <span class="key">A</span>
                        </div>
                        <div class="col-10 fw-medium">
                            Select everything
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- about modal -->
    <div class="modal fade" id="aboutModal" tabindex="-1" aria-labelledby="aboutModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="aboutModalLabel">About</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p class="fw-bold">CANVAS Editor</p>
                    <p>
                        Version 0.1.0<br>
                        For non-commercial use only
                    </p>
                    <p>
                    Powered by open-source software
                    <ul>
                    <li><a href="https://www.python.org/">Python</a></li>
                    <li><a href="https://www.djangoproject.com/">Django</a></li>
                    <li><a href="https://getbootstrap.com/">Bootstrap</a></li>
                    <li><a href="https://threejs.org/">three.js</a></li>
                    </ul>
                    Copyright © 2024 ARTIST Association
                    </p>

                    <div class="d-flex justify-content-center pt-3 pb-3">
                        <img class="about-logo px-3" src="{% static 'img/logo_kit.svg' %}"></img>
                        <img class="about-logo px-3" src="{% static 'img/logo_dlr.svg' %}"></img>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- main content -->
    <div class="container-fluid d-flex flex-column min-vh-100 p-0">
        <!-- navigation bar -->
        <nav class="navbar navbar-expand-sm navbar-light">
            <a class="navbar-brand mx-4" href="#">CANVAS Editor</a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    <!-- file -->
                    <li class="nav-item dropdown mx-2">
                        <a class="nav-link dropdown-toggle" id="fileDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="bi-file-earmark me-2"></i>File
                        </a>
                        <div class="dropdown-menu" aria-labelledby="fileDropdown">
                            <a class="dropdown-item" id="new" href="#">
                                <i class="bi-file-earmark-plus me-2"></i>New
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" id="import" href="#">
                                <i class="bi-file-earmark-arrow-up me-2"></i>Import
                            </a>
                            <a class="dropdown-item" id="export" href="#">
                                <i class="bi-file-earmark-arrow-down me-2"></i>Export
                            </a>
                        </div>
                    </li>

                    <!-- insert -->
                    <li class="nav-item dropdown mx-2">
                        <a class="nav-link dropdown-toggle" id="insertDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="bi-plus-square me-2"></i>Insert
                        </a>
                        <div class="dropdown-menu" aria-labelledby="insertDropdown">
                            <a class="dropdown-item" id="heliostat" href="#">
                                <i class="bi-arrow-up-right-square me-2"></i>Heliostat
                            </a>
                            <a class="dropdown-item" id="receiver" href="#">
                                <i class="bi-align-bottom me-2"></i>Receiver
                            </a>
                            <a class="dropdown-item" id="lightSource" href="#">
                                <i class="bi-lightbulb me-2"></i>Light source
                            </a>
                        </div>
                    </li>

                    <!-- view -->
                    <li class="nav-item dropdown mx-2">
                        <a class="nav-link dropdown-toggle" id="viewDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="bi-view-list me-2"></i>View
                        </a>
                        <div class="dropdown-menu" aria-labelledby="viewDropdown">
                            <a class="dropdown-item" id="fullscreen" href="#">
                                <i class="bi-arrows-fullscreen me-2"></i>Fullscreen
                            </a>
                        </div>
                    </li>

                    <!-- help -->
                    <li class="nav-item dropdown mx-2">
                        <a class="nav-link dropdown-toggle" id="helpDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="bi-question-square me-2"></i>Help
                        </a>
                        <div class="dropdown-menu" aria-labelledby="helpDropdown">
                            <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#keyboardModal">
                                <i class="bi-keyboard me-2"></i>Keybindings
                            </a>
                            <a class="dropdown-item" href="https://github.com/ARTIST-Association/CANVAS/" target="_blank">
                                <i class="bi-code-slash me-2"></i>Source
                            </a>
                            <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#aboutModal">
                                <i class="bi-info me-2"></i>About
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>

        <!-- main editor pane -->
        <main class="d-flex flex-row flex-fill">
            <!-- canvas -->
            <div class="d-flex flex-column flex-fill bg-dark" id="canvas"></div>

            <!-- sidebar -->
            <div class="d-flex flex-column flex-shrink-0 border-left p-2" id="sidebar">
                <!-- properties -->
                <ul class="nav nav-underline  nav-fill mb-auto" id="propertiesTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link link-body-emphasis active" data-bs-toggle="tab" aria-current="page" href="#">
                            <i class="bi-box me-2"></i>Object</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link link-body-emphasis" data-bs-toggle="tab" href="#">
                            <i class="bi-projector me-2"></i>Scene</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link link-body-emphasis" data-bs-toggle="tab" href="#">
                            <i class="bi-kanban me-2"></i>Project</a>
                    </li>
                </ul>

                <hr>

                <!-- user -->
                <div class="dropup d-flex justify-content-end me-3">
                    <a class="dropdown-toggle d-flex align-items-center link-body-emphasis text-decoration-none" data-bs-toggle="dropdown" aria-expanded="false">
                        <div class="rounded-circle bg-body-secondary me-3" style="width: 32px; height: 32px;"></div>
                        <strong class="me-2">User</strong>
                    </a>
                    <ul class="dropdown-menu text-small" style="">
                        <li><a class="dropdown-item" href="#">Settings</a></li>
                        <li><a class="dropdown-item" href="#">Profile</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Sign out</a></li>
                    </ul>
                </div>
            </div>
        </main>
    </div>
{% endblock %}
