{% extends 'editor/base.html' %}
{% load static %}
{% block style %}
    {{ block.super }}
    <link href="{% static 'css/editor.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block script %}
    {{ block.super }}
    <script type="importmap">
        {
            "imports": {
                "three": "{% static 'js/three.module.js' %}",
                "three/addons/": "{% static 'js/three/examples/jsm/' %}",
                "menu": "{% static 'js/menu.mjs' %}",
                "compass": "{% static 'js/compass.mjs' %}",
                "picker": "{% static 'js/picker.mjs' %}",
                "objects": "{% static 'js/objects.mjs' %}"
            }
        }
    </script>
    <script type="module">
        import { Editor } from "{% static 'js/editor.mjs' %}";

        window.addEventListener('DOMContentLoaded', (_) => {
            new Editor();
        });
    </script>
{% endblock %}
{% block body %}
    <!--settings modal-->
    {% include "management/settings.html" %}
    <!--job interface modal-->
    {% include "management/jobInterface.html" %}
    <!-- keybindings modal -->
    <div class="modal modal-lg fade"
         id="keyboardModal"
         tabindex="-1"
         aria-labelledby="keyboardModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="keyboardModalLabel">Keybindings</h5>
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row align-items-center pb-3">
                        <div class="col-2">
                            <span class="key">Esc</span>
                        </div>
                        <div class="col-10 fw-medium">Close dialogs</div>
                    </div>
                    <div class="row align-items-center pb-3">
                        <div class="col-2">
                            <span class="key">Ctrl</span>
                            <span class="mx-1">+</span>
                            <span class="key">A</span>
                        </div>
                        <div class="col-10 fw-medium">Select everything</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- about modal -->
    <div class="modal fade"
         id="aboutModal"
         tabindex="-1"
         aria-labelledby="aboutModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="aboutModalLabel">About</h5>
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p class="fw-bold">CANVAS Editor</p>
                    <p>
                        Version 0.1.0
                        <br>
                        For non-commercial use only
                    </p>
                    <p>
                        Powered by open-source software
                        <ul>
                            <li>
                                <a href="https://www.python.org/">Python</a>
                            </li>
                            <li>
                                <a href="https://www.djangoproject.com/">Django</a>
                            </li>
                            <li>
                                <a href="https://getbootstrap.com/">Bootstrap</a>
                            </li>
                            <li>
                                <a href="https://threejs.org/">three.js</a>
                            </li>
                        </ul>
                        Copyright © 2024 ARTIST Association
                    </p>
                    <div class="d-flex justify-content-center pt-3 pb-3">
                        <img class="about-logo px-3" src="{% static 'img/logo_kit.svg' %}">
                    </img>
                    <img class="about-logo px-3" src="{% static 'img/logo_dlr.svg' %}">
                </img>
            </div>
        </div>
    </div>
</div>
</div>
<!-- main content -->
<div class="container-fluid d-flex flex-column min-vh-100 p-0">
    <!-- navigation bar -->
    <nav class="navbar navbar-expand-sm navbar-light">
        <a class="navbar-brand ms-4" href="/projects">
            <div class="rounded-circle bg-primary" style="width: 32px; height: 32px"></div>
        </a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <!-- file -->
                <li class="nav-item dropdown mx-2">
                    <a class="nav-link dropdown-toggle"
                       id="fileDropdown"
                       href="#"
                       role="button"
                       data-bs-toggle="dropdown"
                       aria-haspopup="true"
                       aria-expanded="false">
                        <i class="bi-file-earmark me-2"></i>File
                    </a>
                    <div class="dropdown-menu" aria-labelledby="fileDropdown">
                        <a class="dropdown-item" id="new" href="#">
                            <i class="bi-file-earmark-plus me-2"></i>New
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" id="import" href="#">
                            <i class="bi-file-earmark-arrow-up me-2"></i>Open
                        </a>
                        <a class="dropdown-item" id="export" href="#">
                            <i class="bi-file-earmark-arrow-down me-2"></i>Export
                        </a>
                    </div>
                </li>
                <!-- insert -->
                <li class="nav-item dropdown mx-2">
                    <a class="nav-link dropdown-toggle"
                       id="insertDropdown"
                       href="#"
                       role="button"
                       data-bs-toggle="dropdown"
                       aria-haspopup="true"
                       aria-expanded="false">
                        <i class="bi-plus-square me-2"></i>Insert
                    </a>
                    <div class="dropdown-menu" aria-labelledby="insertDropdown">
                        <a class="dropdown-item" id="heliostat" href="#">
                            <i class="bi-arrow-up-right-square me-2"></i>Heliostat
                        </a>
                        <a class="dropdown-item" id="receiver" href="#">
                            <i class="bi-align-bottom me-2"></i>Receiver
                        </a>
                        <a class="dropdown-item" id="lightSource" href="#">
                            <i class="bi-lightbulb me-2"></i>Light source
                        </a>
                    </div>
                </li>
                <!-- view -->
                <li class="nav-item dropdown mx-2">
                    <a class="nav-link dropdown-toggle"
                       id="viewDropdown"
                       href="#"
                       role="button"
                       data-bs-toggle="dropdown"
                       aria-haspopup="true"
                       aria-expanded="false">
                        <i class="bi-view-list me-2"></i>View
                    </a>
                    <div class="dropdown-menu" aria-labelledby="viewDropdown">
                        <a class="dropdown-item" id="fullscreen" href="#">
                            <i class="bi-arrows-fullscreen me-2"></i>Fullscreen
                        </a>
                    </div>
                </li>
                <!-- help -->
                <li class="nav-item dropdown mx-2">
                    <a class="nav-link dropdown-toggle"
                       id="helpDropdown"
                       href="#"
                       role="button"
                       data-bs-toggle="dropdown"
                       aria-haspopup="true"
                       aria-expanded="false">
                        <i class="bi-question-square me-2"></i>Help
                    </a>
                    <div class="dropdown-menu" aria-labelledby="helpDropdown">
                        <a class="dropdown-item"
                           data-bs-toggle="modal"
                           data-bs-target="#keyboardModal">
                            <i class="bi-keyboard me-2"></i>Keybindings
                        </a>
                        <a class="dropdown-item"
                           href="https://github.com/ARTIST-Association/CANVAS/"
                           target="_blank">
                            <i class="bi-code-slash me-2"></i>Source
                        </a>
                        <a class="dropdown-item"
                           data-bs-toggle="modal"
                           data-bs-target="#aboutModal">
                            <i class="bi-info me-2"></i>About
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <!-- main editor pane -->
    <main class="d-flex flex-row flex-fill">
        <!-- canvas -->
        <div class="mb-2 mx-0 ms-2 overflow-hidden rounded-3 shadow position-relative"
             id="canvas">
            <!--mode selector-->
            <div class="position-absolute mt-4 ms-4 fs-5">
                <ul class="nav nav-pills flex-column  p-2 gap-1 shadow-sm small bg-body-secondary bg-opacity-75 rounded-4 border" id="pillNav2" role="tablist" style="backdrop-filter: blur(0.7rem)"
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active rounded-3"
                                id="home-tab2"
                                data-bs-toggle="tab"
                                type="button"
                                role="tab"
                                aria-selected="true">
                            <i class="bi bi-cursor"></i>
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link rounded-3"
                                id="contact-tab2"
                                data-bs-toggle="tab"
                                type="button"
                                role="tab"
                                aria-selected="false">
                            <i class="bi bi-bounding-box-circles"></i>
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link rounded-3"
                                id="profile-tab2"
                                data-bs-toggle="tab"
                                type="button"
                                role="tab"
                                aria-selected="false">
                            <i class="bi bi-arrows-move"></i>
                        </button>
                    </li>
                </ul>
            </div>
            <!--quick settings-->
            <div class="position-absolute bottom-0 mb-4 fs-5 d-flex justify-content-center w-100">
                <div class="p-2 gap-2 shadow-sm bg-body-secondary bg-opacity-75 rounded-4 border d-flex"
                     style="backdrop-filter: blur(0.7rem)">
                    <button class="btn btn-primary custom-btn d-flex gap-1 text-reset">
                        <i class="bi bi-arrow-up-right-square"></i>
                    </button>
                    <button class="btn btn-primary custom-btn d-flex gap-1 text-reset">
                        <i class="bi bi-align-bottom"></i>
                    </button>
                    <button class="btn btn-primary custom-btn d-flex gap-1 text-reset">
                        <i class="bi bi-lightbulb"></i>
                    </button>
                    <button class="btn btn-primary rounded-3 fw-bolder">Render</button>
                </div>
            </div>
        </div>
        <!-- sidebar -->
        <div class="d-flex flex-column flex-shrink-0 py-2 border-left m-2 mt-0 bg-body-secondary rounded-3"
             id="sidebar">
            <!-- properties -->
            <ul class="nav nav-tabs nav-underline px-2 nav-fill mb-auto"
                id="propertiesTab"
                role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active text-reset"
                            id="object-tab"
                            data-bs-toggle="tab"
                            data-bs-target="#object-tab-pane"
                            type="button"
                            role="tab"
                            aria-controls="object-tab-pane"
                            aria-selected="true">
                        <i class="bi-box me-2"></i>Inspector
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link text-reset"
                            id="scene-tab"
                            data-bs-toggle="tab"
                            data-bs-target="#scene-tab-pane"
                            type="button"
                            role="tab"
                            aria-controls="scene-tab-pane"
                            aria-selected="true">
                        <i class="bi-projector me-2"></i>Scene
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link text-reset"
                            id="project-tab"
                            data-bs-toggle="tab"
                            data-bs-target="#project-tab-pane"
                            type="button"
                            role="tab"
                            aria-controls="project-tab-pane"
                            aria-selected="true">
                        <i class="bi-kanban me-2"></i>Project
                    </button>
                </li>
            </ul>
            <div id="content" class="overflow-auto d-flex flex-fill flex-grow-1 w-100">
                <div class="tab-content h-100 w-100 p-2" id="myTabContent">
                    <div class="tab-pane fade show active"
                         id="object-tab-pane"
                         role="tabpanel"
                         aria-labelledby="object-tab"
                         tabindex="0">
                        <!--Inspector-->
                        <script type="module">
                            document.addEventListener('DOMContentLoaded', () => {
                                const inspector = document.getElementById('inspector');
                                inspector.addEventListener('itemSelected', (event) => {
                                    if (event.detail.object) {
                                        inspector.innerHTML = "You're inspecting " + event.detail.object.id;
                                        //event.detail.object.translateY(5);
                                    } else {
                                        inspector.innerHTML = "Select a object by clicking on it"
                                    }
                
                                });
                            });
                        </script>
                        <div id="inspector">Select a object by clicking on it</div>
                    </div>
                    <!--Scene-->
                    <div class="tab-pane fade"
                         id="scene-tab-pane"
                         role="tabpanel"
                         aria-labelledby="scene-tab"
                         tabindex="0">
                        <div class="accordion w-100" id="accordionExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button"
                                            type="button"
                                            data-bs-toggle="collapse"
                                            data-bs-target="#collapseOne"
                                            aria-expanded="true"
                                            aria-controls="collapseOne">Heliostats</button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse show">
                                    <div class="accordion-body">
                                        <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed"
                                            type="button"
                                            data-bs-toggle="collapse"
                                            data-bs-target="#collapseTwo"
                                            aria-expanded="false"
                                            aria-controls="collapseTwo">Receivers</button>
                                </h2>
                                <div id="collapseTwo" class="accordion-collapse collapse">
                                    <div class="accordion-body">
                                        <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed"
                                            type="button"
                                            data-bs-toggle="collapse"
                                            data-bs-target="#collapseThree"
                                            aria-expanded="false"
                                            aria-controls="collapseThree">Light Sources</button>
                                </h2>
                                <div id="collapseThree" class="accordion-collapse collapse">
                                    <div class="accordion-body">
                                        <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Project-->
                    <div class="tab-pane fade"
                         id="project-tab-pane"
                         role="tabpanel"
                         aria-labelledby="project-tab"
                         tabindex="0">
                        <div class="accordion w-100" id="accordionExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button"
                                            type="button"
                                            data-bs-toggle="collapse"
                                            data-bs-target="#collapseOne"
                                            aria-expanded="true"
                                            aria-controls="collapseOne">Enviroment Settings</button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse show">
                                    <div class="accordion-body">
                                        <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed"
                                            type="button"
                                            data-bs-toggle="collapse"
                                            data-bs-target="#collapseTwo"
                                            aria-expanded="false"
                                            aria-controls="collapseTwo">Graphic Settings</button>
                                </h2>
                                <div id="collapseTwo" class="accordion-collapse collapse">
                                    <div class="accordion-body">
                                        <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed"
                                            type="button"
                                            data-bs-toggle="collapse"
                                            data-bs-target="#collapseThree"
                                            aria-expanded="false"
                                            aria-controls="collapseThree">Other</button>
                                </h2>
                                <div id="collapseThree" class="accordion-collapse collapse">
                                    <div class="accordion-body">
                                        <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="settings" class="pb-3 pt-2">
                <hr class="m-0">
            </div>
            <!-- user -->
            <div class="dropup d-flex justify-content-between mx-3 py-1">
                <button class="btn btn-primary custom-btn text-reset fs-3 position-relative p-0 px-1 rounded-3"
                        data-bs-toggle="modal"
                        data-bs-target="#jobInterface">
                    <span class="position-absolute top-0 start-100 translate-middle bg-danger bg-opacity-50 rounded-circle"
                          style="padding: 0.7rem">
                        <span class="visually-hidden">New alerts</span>
                    </span>
                    <span class="position-absolute top-0 start-100 translate-middle bg-danger rounded-circle"
                          style="padding: 0.3rem">
                        <span class="visually-hidden">New alerts</span>
                    </span>
                    <i class="bi bi-list-ul p-1"></i>
                </button>
                <a class="dropdown-toggle d-flex align-items-center link-body-emphasis text-decoration-none"
                   data-bs-toggle="dropdown"
                   aria-expanded="false">
                    <div class="rounded-circle bg-primary me-2"
                         style="width: 32px;
                                height: 32px"></div>
                    <strong class="me-2">Max</strong>
                </a>
                <ul class="dropdown-menu text-small">
                    <div class="px-3 gap-1">
                        <p class="m-0">Max Mustermann</p>
                        <p class="text-secondary m-0">max.muster@example.com</p>
                    </div>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li>
                        <button class="dropdown-item"
                                data-bs-toggle="modal"
                                data-bs-target="#settings">Settings</button>
                    </li>
                    <li>
                        <a class="dropdown-item" href="/">Sign out</a>
                    </li>
                </ul>
            </div>
        </div>
    </main>
    <script>{
        const content = document.getElementById("content");
        const tab = document.getElementById("propertiesTab");
        const userSettings = document.getElementById("settings");
        const calculateMaxHeight = () => {
            const tabRect = tab.getBoundingClientRect();
            const userSettingsRect = userSettings.getBoundingClientRect();

            let maxHeight = tabRect.bottom - userSettingsRect.top;
            maxHeight = Math.abs(maxHeight);
            console.log(maxHeight)
            content.style.height = maxHeight + "px";
        };

        window.addEventListener('resize', calculateMaxHeight);
        document.addEventListener('DOMContentLoaded', calculateMaxHeight);
    }
    </script>
</div>
{% endblock %}
